bandit==1.6.2
black==19.10b0
colorama==0.4.3
dephell==0.8.3
doit==0.32
flake8==3.8.3
future==0.18.2
h5py==2.10
isort==5.0.8
jedi==0.17.1
jinja2==2.11.2
matplotlib==3.2.2
memory-profiler==0.57.0
mypy==0.782
numpy==1.19.0
numpy-stl==2.11.2
pandas==1.0.5
pathos==0.2.6
prompt-toolkit==3.0.5
pylint==2.5.3
pyside2==5.15.0
pytest==5.4.3
pyyaml==5.3.1
rope==0.17.0
scipy==1.5.1
sympy==1.6.1
tabulate==0.8.7
tqdm==4.47.0
