<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Harmonic Trap in Different Gauges</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha256-YLGeXaapI0/5IgZopewRJcFXomhRMlYYjugPLSyNjTY=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/popper.js" integrity="sha256-NrQNAl4rG0KSetjvNYoN8ry9K5PBdKcOj+RVwSYWLNI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
  </head>
  <body>
    <section>
      <h3>Ground State (Relaxation)</h3>
      <table class="table table-striped table-hover table-sm table-bordered">
        <thead class="thead-dark">
          <tr>
            <th></th>
            {% for gauge in gs_energies %}
            <th>{{gauge}}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>$$E_0$$</td>
            {% for gauge in gs_energies %}
            <td>{{gs_energies[gauge]}}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>$$\delta E_0$$</td>
            {% for gauge in gs_energies %}
            <td
              {% set error = gs_energies[gauge] / gs_energies["standard"] - 1.0 %}
              {% if error < (10**-10) %}
              class="table-success"
              {% else %}
              class="table-danger"
              {% endif %}
            >{{error}}</td>
            {% endfor %}
          </tr>

          {% for _ in gs_natpops["standard"] %}
          {% set orbital_loop = loop %}
          <tr>
            <td>$$\lambda_{ {{loop.index}} }$$</td>
            {% for gauge in gs_natpops %}
            <td>{{ gs_natpops[gauge][orbital_loop.index0] }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>$$\Delta \lambda_{ {{loop.index}} }$$</td>
            {% for gauge in gs_natpops %}
            <td
              {% set error = gs_natpops[gauge][orbital_loop.index0]-gs_natpops[gauge][orbital_loop.index0] %}
              {% if error < (10**-10) %}
              class="table-success"
              {% else %}
              class="table-danger"
              {% endif %}
            >{{error}}</td>
            {% endfor %}
          </tr>
          {% endfor %}

          <tr>
            <td>$$\Delta \rho_1$$</td>
            {% for gauge in gs_density %}
            {% set error = compute_density_error(gs_density[gauge], gs_density["standard"]) %}
            <td
              {% if error < (10**-8) %}
              class="table-success"
              {% else %}
              class="table-danger"
              {% endif %}
              >{{error}}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </section>
  </body>
</html>
