<!-- -*- mode: web -*- -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Convergence Report</title>
  </head>
  <body>
    <section>
      <h1>Energy</h1>
      <figure>{{plots["energy"]}}</figure>
    </section>
  </body>
</html>
