#!/bin/bash
# -*- mode: sh -*-

{% if args.queue is not None %}
#$ -q {{args.queue}}
{% end if %}
{% if args.email is not None %}
#$ -M {{args.email}} -m aes
{% end if %}
#$ -S /bin/bash
#$ -cwd
#$ -j y
#$ -V
#$ -l h_vmem={{args.memory}}
#$ -l h_cpu={{args.time}}
#$ -pe smp {{args.cpus}}

export OMP_NUM_THREADS={{args.cpus}}
{{args.cmd}}
